* {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}


html, body {
  margin: 0;
  border: 0;
  padding: 0;
  min-width:500px;
  max-width:800px;
}

main {
}

h1 {
  text-align: center;
  font-size: xxx-large;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0 0 5px darkblue;
  color: yellow
}

h2 {
  font-size: xx-large;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0 0 3px darkblue;
}

h3 {
  font-size: x-large;
  font-family: 'Nunito', sans-serif;
}

.button-link-img-a {
  display:block;
  background: #69c;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #444;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.button-img {
  width: 70%;
  height: 4em;
  padding: 10px;
}

.body-intro-text {
  font-size: xx-large;
  font-family: 'Nunito', sans-serif;
}

.body-text {
  font-size: x-large;
  font-family: 'Nunito', sans-serif;
}

.body-small-text {
  font-size: large;
  font-family: 'Nunito', sans-serif;
}

.body-footnote-text {
  text-align: center;
  font-size: smaller;
  font-family: 'Nunito', sans-serif;
}

.body-section-div {
  text-align: center; 
  margin: 25px 5%;
}

.blue-background-img {
  background-color: darkblue;
  padding: 2px;
}

.icon-img {
  width: 2.5em;
}

.thumbnail-img {
  width: 100%;
  object-fit: cover;
}