* {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}


html, body {
  margin: 0;
  border: 0;
  padding: 0;
  min-width:500px;
}

main {
}

h1 {
  text-align: center;
  font-size: xxx-large;
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-size: xx-large;
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-size: x-large;
  color:#00B0F0;
  font-family: 'Nunito', sans-serif;
}

.button-link-img {
  display:block;
  background: #69c;
  padding: 20px 20px;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #444;
  padding: 12px 12px;
  text-align: center;
}

.button-img {
  width: 80%
}

.body-intro-text {
  font-size: xx-large;
  font-family: 'Nunito', sans-serif;
}

.body-text {
  font-size: x-large;
  font-family: 'Nunito', sans-serif;
}

.body-footnote-text {
  text-align: center;
  font-size: smaller;
  font-family: 'Nunito', sans-serif;
}

.body-section-div {
  text-align: center; 
  margin: 25px 5%;
}

.blue-background-img {
  background-color: darkblue;
  padding: 2px;
}